/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
    list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
    counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
    display: none;
}

:root {
    --main-font-family: 'Martian Mono', serif, sans-serif;
    --secondary-font-family: 'Inter', serif, sans-serif;

    --text-preset-1: 62px;
    --text-preset-1-mobile: 38px;
    --text-preset-1-bold: 700;
    --text-preset-1-line-height: 120%;
    --text-preset-1-letter-spacing: -2px;

    --text-preset-2: 50px;
    --text-preset-2-mobile: 34px;
    --text-preset-2-semibold: 600;
    --text-preset-2-line-height: 130%;
    --text-preset-2-letter-spacing: -2px;

    --text-preset-3: 34px;
    --text-preset-3-mobile: 24px;
    --text-preset-3-semibold: 600;
    --text-preset-3-line-height: 130%;
    --text-preset-3-letter-spacing: -1px;

    --text-preset-4: 24px;
    --text-preset-4-mobile: 24px;
    --text-preset-4-semibold: 600;
    --text-preset-4-regular: 400;
    --text-preset-4-line-height: 110%;
    --text-preset-4-letter-spacing: -1px;

    --text-preset-5: 20px;
    --text-preset-5-mobile: 20px;
    --text-preset-5-semibold: 600;
    --text-preset-5-regular: 400;
    --text-preset-5-line-height: 140%;
    --text-preset-5-letter-spacing: -0.5px;

    --text-preset-6: 18px;
    --text-preset-6-mobile: 16px;
    --text-preset-6-semibold: 600;
    --text-preset-6-line-height: 130%;
    --text-preset-6-letter-spacing: -1px;

    --text-preset-7: 14px;
    --text-preset-7-mobile: 14px;
    --text-preset-7-regular: 400;
    --text-preset-7-line-height: 120%;
    --text-preset-7-letter-spacing: -1px;

    --color-neutral-900: #062630;
    --color-neutral-700: #385159;
    --color-neutral-200: #e6e1df;
    --color-neutral-100: #faf5f3;
    --color-neutral-0: #ffffff;

    --color-light-salmon-500: #fea36f;
    --color-light-salmon-100: #ffe2d1;
    --color-light-salmon-50: #fff5ef;

    --color-text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
    --color-gradient-1: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
    --color-gradient-2: linear-gradient(90deg, #385159 0%, #062630 100%);
}

html {
    font-family: var(--main-font-family);
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--color-neutral-200);
}

.main__container-one {
    background-image: url(../images/pattern-light-bg.svg);
    background-color: var(--color-neutral-100);
    background-repeat: no-repeat;
    padding: 24px 16px 80px;
}

.container-one__logo {
    margin-bottom: 48px;
}

.container-one__text-title {
    font-size: var(--text-preset-1-mobile);
    font-weight: var(--text-preset-1-bold);
    line-height: var(--text-preset-1-line-height);
    letter-spacing: var(--text-preset-1-letter-spacing);
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.container-one__text-description {
    font-family: var(--secondary-font-family);
    font-size: var(--text-preset-5-mobile);
    font-weight: var(--text-preset-5-regular);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);
    color: var(--color-neutral-700);
    margin-bottom: 32px;
}

.container-one__cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light-salmon-50);
    border: 2px solid var(--color-neutral-900);
    padding: 20px 0;
    border-radius: 8px;
    font-size: var(--text-preset-6-mobile);
    font-weight: var(--text-preset-6-semibold);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);
    color: var(--color-neutral-900);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container-one__cta-button img {
    margin-left: 16px;
}

.container-one__cta {
    margin-bottom: 64px;
}

.container-one__testimonial {
    display: flex;
    align-items: center;
    gap: 12px;
}

.container-one__testimonial-img {
    display: flex;
    align-items: center;
    width: 110px;
}

.container-one__testimonial-rating {
    width: 221px;
}

.container-one__testimonial-rating-stars {
    display: flex;
    margin-bottom: 4px;
}

.container-one__testimonial-rating-text {
    font-size: var(--text-preset-7-mobile);
    font-weight: var(--text-preset-7-regular);
    line-height: var(--text-preset-7-line-height);
    letter-spacing: var(--text-preset-7-letter-spacing);
    color: var(--color-neutral-700);
}

.container-one__img img {
    width: 100%;
    border-radius: 5.08px;
}

.main__container-two {
    padding: 64px 16px;
    background-color: var(--color-neutral-0);
}

.container-two__title {
    font-size: var(--text-preset-2-mobile);
    font-weight: var(--text-preset-2-semibold);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
    color: var(--color-neutral-900);
    margin-bottom: 24px;
}

.container-two__list {
    margin-bottom: 40px;
}

.container-two__list-item {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 16px;
    font-family: var(--secondary-font-family);
    font-size: var(--text-preset-5-mobile);
    font-weight: var(--text-preset-5-regular);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);
    color: var(--color-neutral-700);
}

.container-two__list-item:last-child {
    margin-bottom: 0;
}

.container-two__img img {
    width: 100%;
    border-radius: 12.25px;
}

.main__container-three {
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-neutral-0);
}

.container-three__title {
    font-size: var(--text-preset-2-mobile);
    font-weight: var(--text-preset-2-semibold);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
    color: var(--color-neutral-900);
    margin-bottom: 24px;
}

.container-three__circle-img {
    position: absolute;
    top: 86px;
    left: 7px;
    width: 30%;
}

.container-three__description {
    font-family: var(--secondary-font-family);
    font-size: var(--text-preset-5-mobile);
    font-weight: var(--text-preset-5-regular);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);
    color: var(--color-neutral-700);
    margin-bottom: 40px;
}

.container-three__semibold {
    font-weight: var(--text-preset-5-semibold);
}

.container-three__img img {
    width: 100%;
    border-radius: 12.25px;
}

.main__reading-journey {
    display: none;
}

.main__membership {
    padding: 64px 16px 0;
    background-color: var(--color-neutral-0);
}

.membership__title {
    font-size: var(--text-preset-2-mobile);
    font-weight: var(--text-preset-2-semibold);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
    color: var(--color-neutral-900);
    margin-bottom: 24px;
}

.membership__option {
    background-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-200);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
}

.membership__option:nth-child(2) {
    background-color: var(--color-neutral-100);
    background-image: url(../images/pattern-glow.svg);
    background-repeat: no-repeat;
    background-position: 20% 10%;
}

.membership__option:last-child {
    margin-bottom: 0;
}

.membership__option-name {
    font-size: var(--text-preset-4-mobile);
    font-weight: var(--text-preset-4-semibold);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);
    color: var(--color-neutral-900);
    margin-bottom: 24px;
}

.membership__option-price {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font-family);
    font-size: var(--text-preset-5-mobile);
    font-weight: var(--text-preset-5-regular);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);
    color: var(--color-neutral-700);
    margin-bottom: 24px;
}

.membership__bold {
    font-family: var(--main-font-family);
    font-size: var(--text-preset-3);
    font-weight: var(--text-preset-3-semibold);
    line-height: var(--text-preset-3-line-height);
    letter-spacing: var(--text-preset-3-letter-spacing);
    color: var(--color-neutral-900);
    margin-right: 8px;
}

.membership__option-hr {
    border: 1px solid var(--color-neutral-200);
    margin-bottom: 24px;
}

.membership__option-list {
    margin-bottom: 32px;
}

.membership__option-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
    font-family: var(--secondary-font-family);
    font-size: var(--text-preset-5-mobile);
    font-weight: var(--text-preset-5-regular);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);
    color: var(--color-neutral-700);
}

.membership__option-list li:last-child {
    margin-bottom: 0;
}

.membership__option-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light-salmon-50);
    border: 2px solid var(--color-neutral-900);
    padding: 20px 0;
    border-radius: 8px;
    font-size: var(--text-preset-6-mobile);
    font-weight: var(--text-preset-6-semibold);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);
    color: var(--color-neutral-900);
    text-transform: uppercase;
}

.main__testimonial {
    padding: 64px 16px;
    background-color: var(--color-neutral-0);
}

.testimonial__ratings {
    display: flex;
    gap: 6px;
    margin-bottom: 32px;
}

.testimonial__text {
    font-size: var(--text-preset-3-mobile);
    font-weight: var(--text-preset-3-semibold);
    line-height: var(--text-preset-3-line-height);
    letter-spacing: var(--text-preset-3-letter-spacing);
    color: var(--color-neutral-900);
    margin-bottom: 32px;
}

.testimonial__name {
    font-family: var(--secondary-font-family);
    font-size: var(--text-preset-5-mobile);
    font-weight: var(--text-preset-5-regular);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);
    color: var(--color-neutral-700);
}

footer {
    background-color: var(--color-neutral-0);
}

.footer__container {
    background-image: url(../images/pattern-dark-bg.svg);
    background-repeat: no-repeat;
    background-color: var(--color-neutral-900);
    border-radius: 16px 16px 0 0;
}

.footer__text {
    padding: 48px 16px 64px;
}

.footer__title {
    font-size: var(--text-preset-2-mobile);
    font-weight: var(--text-preset-2-semibold);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
    color: var(--color-neutral-100);
    margin-bottom: 40px;
    text-align: center;
}

.footer__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: var(--text-preset-6-mobile);
    font-weight: var(--text-preset-6-semibold);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);
    color: var(--color-neutral-100);
    text-transform: uppercase;
    border: 2px solid var(--color-neutral-100);
    border-radius: 8px;
    padding: 21.5px 0;
    margin-bottom: 24px;
}

.footer__testimonial {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__testimonial-img {
    display: flex;
    align-items: center;
    width: 110px;
}

.footer__testimonial-rating {
    width: 221px;
}

.footer__testimonial-rating-stars {
    display: flex;
    margin-bottom: 4px;
}

.footer__testimonial-rating-text {
    font-size: var(--text-preset-7-mobile);
    font-weight: var(--text-preset-7-regular);
    line-height: var(--text-preset-7-line-height);
    letter-spacing: var(--text-preset-7-letter-spacing);
    color: var(--color-neutral-100);
}


.footer__content {
    padding: 24px 32px;
    border-top: 1px solid var(--color-neutral-700);
}

.footer__content-text {
    font-size: var(--text-preset-7-mobile);
    font-weight: var(--text-preset-7-regular);
    line-height: var(--text-preset-7-line-height);
    letter-spacing: var(--text-preset-7-letter-spacing);
    color: var(--color-neutral-100);
    text-align: center;
    margin-bottom: 16px;
}

.footer__content-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    body {
        max-width: 768px;
    }

    .main__container-one {
        padding: 32px 32px 80px;
        background-repeat: repeat;
        position: relative;
        overflow: hidden;
    }

    .container-one__logo {
        margin-bottom: 64px;
    }

    .container-one__text-title {
        font-size: var(--text-preset-1);
        font-weight: var(--text-preset-1-bold);
        line-height: var(--text-preset-1-line-height);
        letter-spacing: var(--text-preset-1-letter-spacing);
    }

    .container-one__cta-button {
        width: 380px;
        height: 64px;
        font-size: var(--text-preset-6);
    }

    .container-one__testimonial-rating {
        width: 266px;
    }

    .container-one__img img {
        position: relative;
        border-radius: 10.43px;
        z-index: 1;
    }

    .container-one__img::before {
        content: '';
        background: url(../images/pattern-glow.svg) no-repeat;
        width: 684px;
        height: 684px;
        position: absolute;
        top: 60%;
        left: 30%;
    }

    .main__container-two {
        padding: 80px 32px 0;
    }

    .container-two__title {
        font-size: var(--text-preset-2);
        margin-bottom: 34px;
    }

    .container-two__list-item {
        margin-bottom: 24px;
    }

    .container-two__img img {
        border-radius: 25.14px;
    }

    .main__container-three {
        padding: 80px 32px;
    }

    .container-three__title {
        font-size: var(--text-preset-2);
        margin-bottom: 24px;
        width: 534px;
    }

    .container-three__circle-img {
        top: 13.3%;
        left: 23.5%;
        width: 21%;
    }

    .container-three__img img {
        border-radius: 25.14px;
    }

    .main__membership {
        padding: 80px 32px 0;
    }

    .membership__title {
        font-size: var(--text-preset-2);
        margin-bottom: 40px;
    }

    .membership__option--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .membership__option {
        margin-bottom: 0;
    }

    .membership__option-name {
        font-size: var(--text-preset-4);
    }

    .membership__option-price {
        font-size: var(--text-preset-5);
    }

    .membership__option-list li {
        font-size: var(--text-preset-5);
        margin-bottom: 16px;
    }

    .membership__option-cta {
        font-size: var(--text-preset-6);
    }

    .main__testimonial {
        padding: 80px 32px 0;
    }

    .testimonial__text {
        font-size: var(--text-preset-3);
    }

    .testimonial__name {
        font-size: var(--text-preset-5);
    }

    footer {
        padding: 80px 0 0;
    }

    .footer__text {
        padding: 64px 32px;
    }

    .footer__title {
        font-size: var(--text-preset-2);
    }

    .footer__cta {
        width: 380px;
        margin: 0 auto 24px;
        font-size: var(--text-preset-6);
    }

    .footer__testimonial {
        justify-content: center;
    }

    .footer__testimonial-rating {
        width: 266px;
    }

    .footer__content {
        padding: 24px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__content-text {
        margin-bottom: 0;
        font-size: var(--text-preset-7);
    }
}

@media screen and (min-width: 1440px) {
    body {
        max-width: 1440px;
    }

    .main__container-one {
        padding: 32px 135px 80px;
    }

    .container-one__logo {
        margin-bottom: 80px;
    }

    .container-one__desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-one__text {
        width: 570px;
        margin-right: 64px;
    }

    .container-one__cta {
        margin-bottom: 0;
    }

    .container-one__img img {
        border-radius: 8px;
    }

    .container-one__img::before {
        top: 20%;
        left: 60%;
    }

    .main__container-two {
        padding: 120px 135px 0;
    }

    .container-two__desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .container-two__img {
        margin-right: 80px;
    }

    .container-two__img img {
        border-radius: 20px;
        width: 560px;
    }

    .container-two__content {
        width: 530px;
    }

    .container-two__list {
        margin-bottom: 0;
        width: 431px;
    }

    .main__container-three {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 120px 135px 0;
    }

    .main__container-three::before {
        content: '';
        background: url(../images/logos-tech.svg) no-repeat;
        position: absolute;
        top: 73%;
        left: 46.5%;
        width: 100%;
        height: 100%;
    }

    .container-three__content {
        margin-right: 80px;
    }

    .container-three__description {
        width: 530px;
        margin-bottom: 0;
    }

    .container-three__img img {
        width: 100%;
        border-radius: 20px;
    }

    .container-three__circle-img {
        top: 313px;
        left: 285px;
        width: 11%;
    }

    .main__reading-journey {
        padding: 120px 135px 0;
        background-color: var(--color-neutral-0);
        display: block;

    }

    .reading-journey__bg-container {
        padding: 80px 0;
        width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../images/pattern-light-bg.svg);
        background-color: var(--color-neutral-100);
        background-size: cover;
        background-position: 135px 0;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
    }

    .reading-journey__bg-container::before {
        content: '';
        background: url(../images/pattern-glow.svg) no-repeat;
        width: 684px;
        height: 684px;
        position: absolute;
        top: -15%;
        right: 0;
    }

    .reading-journey__title {
        font-size: var(--text-preset-2);
        font-weight: var(--text-preset-2-semibold);
        line-height: var(--text-preset-2-line-height);
        letter-spacing: var(--text-preset-2-letter-spacing);
        color: var(--color-neutral-900);
        margin-bottom: 64px;
        width: 512px;
        text-align: center;
    }

    .reading-journey__container {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    .reading-journey__content-number {
        font-size: var(--text-preset-4);
        font-weight: var(--text-preset-4-regular);
        line-height: var(--text-preset-4-line-height);
        letter-spacing: var(--text-preset-4-letter-spacing);
        color: var(--color-neutral-900);
        border: 2px solid var(--color-neutral-900);
        border-radius: 4px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }

    .reading-journey__content-text {
        font-size: var(--text-preset-6);
        font-weight: var(--text-preset-6-semibold);
        line-height: var(--text-preset-6-line-height);
        letter-spacing: var(--text-preset-6-letter-spacing);
        color: var(--color-neutral-900);
        width: 226.5px;
    }

    .reading-journey__content {
        position: relative;
    }

    .reading-journey__content img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .main__membership {
        padding: 120px 135px 0;
    }

    .membership__title {
        margin-bottom: 64px;
        text-align: center;
    }

    .membership__option--container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        width: 970px;
        margin: 0 auto;
        align-items: center;
    }

    .membership__option:nth-child(1),
    .membership__option:nth-child(3) {
        width: 286px;
    }

    .membership__option:nth-child(2) {
        width: 350px;
        padding: 40px 24px;
    }

    .main__testimonial {
        padding: 120px 135px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .testimonial__text {
        width: 970px;
    }

    footer {
        padding: 120px 0 0;
        width: 1440px;
    }

    .footer__text {
        padding: 80px 135px 64px;
    }

    .footer__title {
        width: 685px;
        margin: 0 auto 40px;
    }

    .footer__content {
        margin: 0 135px;
        padding: 24px 0;
    }

    .hover:hover {
        background: var(--color-gradient-1);
        cursor: pointer;
        outline: 2px solid var(--color-neutral-700);
        outline-offset: 3px;
        box-shadow: 0 0 0 4px #fff;
    }

    .footer__cta:hover {
        background: var(--color-gradient-2);
        cursor: pointer;
        outline: 2px solid #fff;
        outline-offset: 3px;
        box-shadow: 0 0 0 4px #000;
    }
}